.confirm { width: 30% }

.delete {
    width: 100%;
}
  
.container {
    margin-top: 5px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

button {
    .mat-icon {
        margin: 0px
    }
}