
<section>
    <div class="title">
        <h1>Fully Featured Kanban</h1>
        <p class="subheader">BY MOHAMED ASIF</p>
    </div>

    <div class="btn-container">
        <a 
            mat-raised-button
            color="accent" 
            [routerLink]="['/kanban']"
            class="text-with-icon"
        >

            <span>Get Started</span>
            <mat-icon class="chevron">
                chevron_right
            </mat-icon>
        </a>

        <a 
            mat-raised-button
            href="https://github.com/masif2002/kanban" target="_blank"
            class="text-with-icon"
        >
            <mat-icon>open_in_new</mat-icon>
            <span>Source Code</span>
        </a>
    </div>


</section>

